common/koku-message/koku-message-service/src/main/wsdl/AvEmployeeService.wsdl

<definitions name='KokuLooraAppointmentService'
	targetNamespace='http://soa.av.koku.arcusys.fi/' xmlns='http://schemas.xmlsoap.org/wsdl/'
	xmlns:ns1='http://soa.kv.koku.arcusys.fi/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
	xmlns:tns='http://soa.av.koku.arcusys.fi/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
	<types>
		<xs:schema targetNamespace='http://soa.kv.koku.arcusys.fi/'
			version='1.0' xmlns:ns1='http://soa.av.koku.arcusys.fi/' xmlns:tns='http://soa.kv.koku.arcusys.fi/'
			xmlns:xs='http://www.w3.org/2001/XMLSchema'>
			<xs:import namespace='http://soa.av.koku.arcusys.fi/' />
			<xs:complexType name='appointmentSummary'>
				<xs:sequence>
					<xs:element name='appointmentId' type='xs:long' />
					<xs:element minOccurs='0' name='sender' type='xs:string' />
					<xs:element minOccurs='0' name='subject' type='xs:string' />
					<xs:element minOccurs='0' name='description' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='appointment'>
				<xs:complexContent>
					<xs:extension base='tns:appointmentSummary'>
						<xs:sequence>
							<xs:element maxOccurs='unbounded' minOccurs='0' name='slots'
								nillable='true' type='tns:appointmentSlot' />
							<xs:element minOccurs='0' name='status' type='xs:string' />
							<xs:element maxOccurs='unbounded' minOccurs='0'
								name='recipients' nillable='true' type='ns1:appointmentReceipientTO' />
							<xs:element name='acceptedSlots'>
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs='unbounded' minOccurs='0'
											name='entry'>
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs='0' name='key' type='xs:int' />
													<xs:element minOccurs='0' name='value' type='xs:string' />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs='unbounded' minOccurs='0'
								name='usersRejected' nillable='true' type='xs:string' />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name='appointmentSlot'>
				<xs:sequence>
					<xs:element name='appointmentId' type='xs:long' />
					<xs:element name='slotNumber' type='xs:int' />
					<xs:element minOccurs='0' name='appointmentDate' type='xs:date' />
					<xs:element minOccurs='0' name='startTime' type='xs:time' />
					<xs:element minOccurs='0' name='endTime' type='xs:time' />
					<xs:element minOccurs='0' name='location' type='xs:string' />
					<xs:element minOccurs='0' name='comment' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema targetNamespace='http://soa.av.koku.arcusys.fi/'
			version='1.0' xmlns:ns1='http://soa.kv.koku.arcusys.fi/' xmlns:tns='http://soa.av.koku.arcusys.fi/'
			xmlns:xs='http://www.w3.org/2001/XMLSchema'>
			<xs:import namespace='http://soa.kv.koku.arcusys.fi/' />
			<xs:element name='getAppointmentById' type='tns:getAppointmentById' />
			<xs:element name='getAppointmentByIdResponse' type='tns:getAppointmentByIdResponse' />
			<xs:element name='getCreatedAppointments' type='tns:getCreatedAppointments' />
			<xs:element name='getCreatedAppointmentsResponse' type='tns:getCreatedAppointmentsResponse' />
			<xs:element name='getProcessedAppointments' type='tns:getProcessedAppointments' />
			<xs:element name='getProcessedAppointmentsResponse' type='tns:getProcessedAppointmentsResponse' />
			<xs:element name='getTotalCreatedAppointments' type='tns:getTotalCreatedAppointments' />
			<xs:element name='getTotalCreatedAppointmentsResponse'
				type='tns:getTotalCreatedAppointmentsResponse' />
			<xs:element name='getTotalProcessedAppointments' type='tns:getTotalProcessedAppointments' />
			<xs:element name='getTotalProcessedAppointmentsResponse'
				type='tns:getTotalProcessedAppointmentsResponse' />
			<xs:complexType name='getTotalCreatedAppointments'>
				<xs:sequence>
					<xs:element minOccurs='0' name='user' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getTotalCreatedAppointmentsResponse'>
				<xs:sequence>
					<xs:element name='return' type='xs:int' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getTotalProcessedAppointments'>
				<xs:sequence>
					<xs:element minOccurs='0' name='user' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getTotalProcessedAppointmentsResponse'>
				<xs:sequence>
					<xs:element name='return' type='xs:int' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getCreatedAppointments'>
				<xs:sequence>
					<xs:element minOccurs='0' name='user' type='xs:string' />
					<xs:element name='startNum' type='xs:int' />
					<xs:element name='maxNum' type='xs:int' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getCreatedAppointmentsResponse'>
				<xs:sequence>
					<xs:element maxOccurs='unbounded' minOccurs='0' name='return'
						type='ns1:appointmentSummary' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getProcessedAppointments'>
				<xs:sequence>
					<xs:element minOccurs='0' name='user' type='xs:string' />
					<xs:element name='startNum' type='xs:int' />
					<xs:element name='maxNum' type='xs:int' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getProcessedAppointmentsResponse'>
				<xs:sequence>
					<xs:element maxOccurs='unbounded' minOccurs='0' name='return'
						type='ns1:appointmentSummary' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getAppointmentById'>
				<xs:sequence>
					<xs:element name='appointmentId' type='xs:long' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getAppointmentByIdResponse'>
				<xs:sequence>
					<xs:element minOccurs='0' name='return' type='ns1:appointment' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='appointmentReceipientTO'>
				<xs:sequence>
					<xs:element maxOccurs='unbounded' minOccurs='0'
						name='receipients' nillable='true' type='xs:string' />
					<xs:element minOccurs='0' name='targetPerson' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name='KokuLooraAppointmentService_getAppointmentById'>
		<part element='tns:getAppointmentById' name='getAppointmentById'></part>
	</message>
	<message name='KokuLooraAppointmentService_getProcessedAppointments'>
		<part element='tns:getProcessedAppointments' name='getProcessedAppointments'></part>
	</message>
	<message
		name='KokuLooraAppointmentService_getTotalCreatedAppointmentsResponse'>
		<part element='tns:getTotalCreatedAppointmentsResponse' name='getTotalCreatedAppointmentsResponse'></part>
	</message>
	<message
		name='KokuLooraAppointmentService_getTotalProcessedAppointmentsResponse'>
		<part element='tns:getTotalProcessedAppointmentsResponse' name='getTotalProcessedAppointmentsResponse'></part>
	</message>
	<message name='KokuLooraAppointmentService_getProcessedAppointmentsResponse'>
		<part element='tns:getProcessedAppointmentsResponse' name='getProcessedAppointmentsResponse'></part>
	</message>
	<message name='KokuLooraAppointmentService_getCreatedAppointments'>
		<part element='tns:getCreatedAppointments' name='getCreatedAppointments'></part>
	</message>
	<message name='KokuLooraAppointmentService_getCreatedAppointmentsResponse'>
		<part element='tns:getCreatedAppointmentsResponse' name='getCreatedAppointmentsResponse'></part>
	</message>
	<message name='KokuLooraAppointmentService_getTotalCreatedAppointments'>
		<part element='tns:getTotalCreatedAppointments' name='getTotalCreatedAppointments'></part>
	</message>
	<message name='KokuLooraAppointmentService_getAppointmentByIdResponse'>
		<part element='tns:getAppointmentByIdResponse' name='getAppointmentByIdResponse'></part>
	</message>
	<message name='KokuLooraAppointmentService_getTotalProcessedAppointments'>
		<part element='tns:getTotalProcessedAppointments' name='getTotalProcessedAppointments'></part>
	</message>
	<portType name='KokuLooraAppointmentService'>
		<operation name='getAppointmentById' parameterOrder='getAppointmentById'>
			<input message='tns:KokuLooraAppointmentService_getAppointmentById'></input>
			<output message='tns:KokuLooraAppointmentService_getAppointmentByIdResponse'></output>
		</operation>
		<operation name='getCreatedAppointments' parameterOrder='getCreatedAppointments'>
			<input message='tns:KokuLooraAppointmentService_getCreatedAppointments'></input>
			<output
				message='tns:KokuLooraAppointmentService_getCreatedAppointmentsResponse'></output>
		</operation>
		<operation name='getProcessedAppointments' parameterOrder='getProcessedAppointments'>
			<input message='tns:KokuLooraAppointmentService_getProcessedAppointments'></input>
			<output
				message='tns:KokuLooraAppointmentService_getProcessedAppointmentsResponse'></output>
		</operation>
		<operation name='getTotalCreatedAppointments'
			parameterOrder='getTotalCreatedAppointments'>
			<input message='tns:KokuLooraAppointmentService_getTotalCreatedAppointments'></input>
			<output
				message='tns:KokuLooraAppointmentService_getTotalCreatedAppointmentsResponse'></output>
		</operation>
		<operation name='getTotalProcessedAppointments'
			parameterOrder='getTotalProcessedAppointments'>
			<input
				message='tns:KokuLooraAppointmentService_getTotalProcessedAppointments'></input>
			<output
				message='tns:KokuLooraAppointmentService_getTotalProcessedAppointmentsResponse'></output>
		</operation>
	</portType>
	<binding name='KokuLooraAppointmentServiceBinding' type='tns:KokuLooraAppointmentService'>
		<soap:binding style='document'
			transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='getAppointmentById'>
			<soap:operation soapAction='' />
			<input>
				<soap:body use='literal' />
			</input>
			<output>
				<soap:body use='literal' />
			</output>
		</operation>
		<operation name='getCreatedAppointments'>
			<soap:operation soapAction='' />
			<input>
				<soap:body use='literal' />
			</input>
			<output>
				<soap:body use='literal' />
			</output>
		</operation>
		<operation name='getProcessedAppointments'>
			<soap:operation soapAction='' />
			<input>
				<soap:body use='literal' />
			</input>
			<output>
				<soap:body use='literal' />
			</output>
		</operation>
		<operation name='getTotalCreatedAppointments'>
			<soap:operation soapAction='' />
			<input>
				<soap:body use='literal' />
			</input>
			<output>
				<soap:body use='literal' />
			</output>
		</operation>
		<operation name='getTotalProcessedAppointments'>
			<soap:operation soapAction='' />
			<input>
				<soap:body use='literal' />
			</input>
			<output>
				<soap:body use='literal' />
			</output>
		</operation>
	</binding>
	<service name='KokuLooraAppointmentService'>
		<port binding='tns:KokuLooraAppointmentServiceBinding' name='KokuLooraAppointmentServicePort'>
			<soap:address
				location='http://gatein.intra.arcusys.fi:8080/arcusys-koku-0.1-SNAPSHOT-av-model-0.1-SNAPSHOT/KokuLooraAppointmentServiceImpl' />
		</port>
	</service>
</definitions>