arcusys-portlet/koku-message/koku-message-service/src/main/wsdl/UsersAndGroupsServiceImpl.wsdl

<definitions name='UsersAndGroupsService' targetNamespace='http://soa.common.koku.arcusys.fi/'
	xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
	xmlns:tns='http://soa.common.koku.arcusys.fi/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
	<types>
		<xs:schema targetNamespace='http://soa.common.koku.arcusys.fi/'
			version='1.0' xmlns:tns='http://soa.common.koku.arcusys.fi/'
			xmlns:xs='http://www.w3.org/2001/XMLSchema'>
			<xs:element name='getUserUidByKunpoName' type='tns:getUserUidByKunpoName' />
			<xs:element name='getUserUidByKunpoNameResponse' type='tns:getUserUidByKunpoNameResponse' />
			<xs:element name='getUserUidByLooraName' type='tns:getUserUidByLooraName' />
			<xs:element name='getUserUidByLooraNameResponse' type='tns:getUserUidByLooraNameResponse' />
			<xs:complexType name='getUserUidByKunpoName'>
				<xs:sequence>
					<xs:element minOccurs='0' name='username' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getUserUidByKunpoNameResponse'>
				<xs:sequence>
					<xs:element minOccurs='0' name='userUid' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getUserUidByLooraName'>
				<xs:sequence>
					<xs:element minOccurs='0' name='username' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name='getUserUidByLooraNameResponse'>
				<xs:sequence>
					<xs:element minOccurs='0' name='userUid' type='xs:string' />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name='UsersAndGroupsService_getUserUidByLooraNameResponse'>
		<part element='tns:getUserUidByLooraNameResponse' name='getUserUidByLooraNameResponse'></part>
	</message>
	<message name='UsersAndGroupsService_getUserUidByLooraName'>
		<part element='tns:getUserUidByLooraName' name='getUserUidByLooraName'></part>
	</message>
	<message name='UsersAndGroupsService_getUserUidByKunpoName'>
		<part element='tns:getUserUidByKunpoName' name='getUserUidByKunpoName'></part>
	</message>
	<message name='UsersAndGroupsService_getUserUidByKunpoNameResponse'>
		<part element='tns:getUserUidByKunpoNameResponse' name='getUserUidByKunpoNameResponse'></part>
	</message>
	<portType name='UsersAndGroupsService'>
		<operation name='getUserUidByKunpoName' parameterOrder='getUserUidByKunpoName'>
			<input message='tns:UsersAndGroupsService_getUserUidByKunpoName'></input>
			<output message='tns:UsersAndGroupsService_getUserUidByKunpoNameResponse'></output>
		</operation>
		<operation name='getUserUidByLooraName' parameterOrder='getUserUidByLooraName'>
			<input message='tns:UsersAndGroupsService_getUserUidByLooraName'></input>
			<output message='tns:UsersAndGroupsService_getUserUidByLooraNameResponse'></output>
		</operation>
	</portType>
	<binding name='UsersAndGroupsServiceBinding' type='tns:UsersAndGroupsService'>
		<soap:binding style='document'
			transport='http://schemas.xmlsoap.org/soap/http' />
		<operation name='getUserUidByKunpoName'>
			<soap:operation soapAction='' />
			<input>
				<soap:body use='literal' />
			</input>
			<output>
				<soap:body use='literal' />
			</output>
		</operation>
		<operation name='getUserUidByLooraName'>
			<soap:operation soapAction='' />
			<input>
				<soap:body use='literal' />
			</input>
			<output>
				<soap:body use='literal' />
			</output>
		</operation>
	</binding>
	<service name='UsersAndGroupsService'>
		<port binding='tns:UsersAndGroupsServiceBinding' name='UsersAndGroupsServicePort'>
			<soap:address
				location='http://127.0.0.1:8180/arcusys-koku-0.1-SNAPSHOT-arcusys-common-0.1-SNAPSHOT/UsersAndGroupsServiceImpl' />
		</port>
	</service>
</definitions>