arcusys-portlet/koku-message-service/src/main/wsdl/KokuLooraTietopyyntoServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="KokuLooraTietopyyntoService" targetNamespace="http://soa.tiva.koku.arcusys.fi/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.tiva.koku.arcusys.fi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soa.tiva.koku.arcusys.fi/" version="1.0" xmlns:ns1="http://soa.common.koku.arcusys.fi/" xmlns:tns="http://soa.tiva.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.common.koku.arcusys.fi/" />
<xs:element name="getRepliedRequests" type="tns:getRepliedRequests" />
<xs:element name="getRepliedRequestsResponse" type="tns:getRepliedRequestsResponse" />
<xs:element name="getRequestDetails" type="tns:getRequestDetails" />
<xs:element name="getRequestDetailsResponse" type="tns:getRequestDetailsResponse" />
<xs:element name="getRequests" type="tns:getRequests" />
<xs:element name="getRequestsResponse" type="tns:getRequestsResponse" />
<xs:element name="getSentRequests" type="tns:getSentRequests" />
<xs:element name="getSentRequestsResponse" type="tns:getSentRequestsResponse" />
<xs:element name="getTotalRepliedRequests" type="tns:getTotalRepliedRequests" />
<xs:element name="getTotalRepliedRequestsResponse" type="tns:getTotalRepliedRequestsResponse" />
<xs:element name="getTotalRequests" type="tns:getTotalRequests" />
<xs:element name="getTotalRequestsResponse" type="tns:getTotalRequestsResponse" />

<xs:element name="getTotalSentRequests" type="tns:getTotalSentRequests" />
<xs:element name="getTotalSentRequestsResponse" type="tns:getTotalSentRequestsResponse" />
<xs:complexType name="getSentRequests">
<xs:sequence>
<xs:element minOccurs="0" name="senderUid" type="xs:string" />
<xs:element minOccurs="0" name="query" type="tns:informationRequestQuery" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="informationRequestQuery">
<xs:sequence>
<xs:element minOccurs="0" name="criteria" type="tns:informationRequestCriteria" />
<xs:element name="maxNum" type="xs:int" />
<xs:element name="startNum" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="informationRequestCriteria">
<xs:sequence>

<xs:element minOccurs="0" name="createdFromDate" type="xs:date" />
<xs:element minOccurs="0" name="createdToDate" type="xs:date" />
<xs:element minOccurs="0" name="freeText" type="xs:string" />
<xs:element minOccurs="0" name="informationContent" type="xs:string" />
<xs:element minOccurs="0" name="receiverUid" type="xs:string" />
<xs:element minOccurs="0" name="repliedFromDate" type="xs:date" />
<xs:element minOccurs="0" name="repliedToDate" type="xs:date" />
<xs:element minOccurs="0" name="senderUid" type="xs:string" />
<xs:element minOccurs="0" name="targetPersonUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSentRequestsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:informationRequestSummary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="informationRequestSummary">

<xs:sequence>
<xs:element minOccurs="0" name="receiverRoleUid" type="xs:string" />
<xs:element minOccurs="0" name="receiverUid" type="xs:string" />
<xs:element minOccurs="0" name="receiverUserInfo" type="ns1:user" />
<xs:element minOccurs="0" name="requestId" type="xs:long" />
<xs:element minOccurs="0" name="senderUid" type="xs:string" />
<xs:element minOccurs="0" name="senderUserInfo" type="ns1:user" />
<xs:element minOccurs="0" name="status" type="tns:informationRequestStatus" />
<xs:element minOccurs="0" name="targetPersonUid" type="xs:string" />
<xs:element minOccurs="0" name="targetPersonUserInfo" type="ns1:user" />
<xs:element minOccurs="0" name="title" type="xs:string" />
<xs:element minOccurs="0" name="validTill" type="xs:date" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRepliedRequests">
<xs:sequence>
<xs:element minOccurs="0" name="receiverUid" type="xs:string" />

<xs:element minOccurs="0" name="query" type="tns:informationRequestQuery" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRepliedRequestsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:informationRequestSummary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalRepliedRequests">
<xs:sequence>
<xs:element minOccurs="0" name="receiverUid" type="xs:string" />
<xs:element minOccurs="0" name="criteria" type="tns:informationRequestCriteria" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalRepliedRequestsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />

</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalRequests">
<xs:sequence>
<xs:element minOccurs="0" name="criteria" type="tns:informationRequestCriteria" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalRequestsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalSentRequests">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="criteria" type="tns:informationRequestCriteria" />
</xs:sequence>

</xs:complexType>
<xs:complexType name="getTotalSentRequestsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRequests">
<xs:sequence>
<xs:element minOccurs="0" name="query" type="tns:informationRequestQuery" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRequestsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:informationRequestSummary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRequestDetails">

<xs:sequence>
<xs:element name="requestId" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRequestDetailsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:informationRequestDetail" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="informationRequestDetail">
<xs:complexContent>
<xs:extension base="tns:informationRequestSummary">
<xs:sequence>
<xs:element minOccurs="0" name="accessType" type="tns:informationAccessType" />
<xs:element minOccurs="0" name="additionalInfo" type="xs:string" />
<xs:element minOccurs="0" name="additionalReplyInfo" type="xs:string" />
<xs:element minOccurs="0" name="attachmentURL" type="xs:string" />

<xs:element maxOccurs="unbounded" minOccurs="0" name="categories" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="createdDate" type="xs:date" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="informationDetails" type="xs:string" />
<xs:element minOccurs="0" name="legislationInfo" type="xs:string" />
<xs:element minOccurs="0" name="replyDescription" type="xs:string" />
<xs:element minOccurs="0" name="requestPurpose" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="informationRequestStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="Open" />
<xs:enumeration value="Valid" />
<xs:enumeration value="Expired" />
<xs:enumeration value="Declined" />

</xs:restriction>
</xs:simpleType>
<xs:simpleType name="informationAccessType">
<xs:restriction base="xs:string">
<xs:enumeration value="Manual" />
<xs:enumeration value="Portal" />
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema targetNamespace="http://soa.common.koku.arcusys.fi/" version="1.0" xmlns:tns="http://soa.common.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="perform" type="tns:perform" />
<xs:element name="performResponse" type="tns:performResponse" />
<xs:complexType name="user">
<xs:sequence>
<xs:element minOccurs="0" name="displayName" type="xs:string" />
<xs:element minOccurs="0" name="email" type="xs:string" />
<xs:element minOccurs="0" name="firstname" type="xs:string" />

<xs:element minOccurs="0" name="lastname" type="xs:string" />
<xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
<xs:element minOccurs="0" name="uid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="performResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="perform">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getTotalSentRequestsResponse">
    <wsdl:part element="tns:getTotalSentRequestsResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalRepliedRequestsResponse">
    <wsdl:part element="tns:getTotalRepliedRequestsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRepliedRequests">
    <wsdl:part element="tns:getRepliedRequests" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getRequestDetails">
    <wsdl:part element="tns:getRequestDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRequests">
    <wsdl:part element="tns:getRequests" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getRepliedRequestsResponse">
    <wsdl:part element="tns:getRepliedRequestsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRequestDetailsResponse">
    <wsdl:part element="tns:getRequestDetailsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalRepliedRequests">

    <wsdl:part element="tns:getTotalRepliedRequests" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalRequests">
    <wsdl:part element="tns:getTotalRequests" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSentRequestsResponse">
    <wsdl:part element="tns:getSentRequestsResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalSentRequests">
    <wsdl:part element="tns:getTotalSentRequests" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRequestsResponse">
    <wsdl:part element="tns:getRequestsResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getTotalRequestsResponse">
    <wsdl:part element="tns:getTotalRequestsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSentRequests">
    <wsdl:part element="tns:getSentRequests" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="KokuLooraTietopyyntoService">
    <wsdl:operation name="getSentRequests">
      <wsdl:input message="tns:getSentRequests" name="getSentRequests">
    </wsdl:input>
      <wsdl:output message="tns:getSentRequestsResponse" name="getSentRequestsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRepliedRequests">
      <wsdl:input message="tns:getRepliedRequests" name="getRepliedRequests">

    </wsdl:input>
      <wsdl:output message="tns:getRepliedRequestsResponse" name="getRepliedRequestsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalRepliedRequests">
      <wsdl:input message="tns:getTotalRepliedRequests" name="getTotalRepliedRequests">
    </wsdl:input>
      <wsdl:output message="tns:getTotalRepliedRequestsResponse" name="getTotalRepliedRequestsResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getTotalRequests">
      <wsdl:input message="tns:getTotalRequests" name="getTotalRequests">
    </wsdl:input>
      <wsdl:output message="tns:getTotalRequestsResponse" name="getTotalRequestsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalSentRequests">
      <wsdl:input message="tns:getTotalSentRequests" name="getTotalSentRequests">

    </wsdl:input>
      <wsdl:output message="tns:getTotalSentRequestsResponse" name="getTotalSentRequestsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRequests">
      <wsdl:input message="tns:getRequests" name="getRequests">
    </wsdl:input>
      <wsdl:output message="tns:getRequestsResponse" name="getRequestsResponse">
    </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getRequestDetails">
      <wsdl:input message="tns:getRequestDetails" name="getRequestDetails">
    </wsdl:input>
      <wsdl:output message="tns:getRequestDetailsResponse" name="getRequestDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KokuLooraTietopyyntoServiceSoapBinding" type="tns:KokuLooraTietopyyntoService">

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSentRequests">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSentRequests">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSentRequestsResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getRepliedRequests">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRepliedRequests">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRepliedRequestsResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getTotalRepliedRequests">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTotalRepliedRequests">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTotalRepliedRequestsResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getTotalRequests">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTotalRequests">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTotalRequestsResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getTotalSentRequests">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTotalSentRequests">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTotalSentRequestsResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getRequests">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRequests">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRequestsResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="getRequestDetails">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRequestDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRequestDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KokuLooraTietopyyntoService">
    <wsdl:port binding="tns:KokuLooraTietopyyntoServiceSoapBinding" name="KokuLooraTietopyyntoServicePort">
      <soap:address location="http://kohtikumppanuutta-dev.dmz:8180/arcusys-koku-0.1-SNAPSHOT-tiva-model-0.1-SNAPSHOT/KokuLooraTietopyyntoServiceImpl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>