arcusys-portlet/koku-message-service/src/main/wsdl/KokuKunpoValtakirjaServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="KokuKunpoValtakirjaService" targetNamespace="http://soa.tiva.koku.arcusys.fi/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.tiva.koku.arcusys.fi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soa.tiva.koku.arcusys.fi/" version="1.0" xmlns:ns1="http://soa.common.koku.arcusys.fi/" xmlns:tns="http://soa.tiva.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://soa.common.koku.arcusys.fi/" />
<xs:element name="getAuthorizationSummaryById" type="tns:getAuthorizationSummaryById" />
<xs:element name="getAuthorizationSummaryByIdResponse" type="tns:getAuthorizationSummaryByIdResponse" />
<xs:element name="getReceivedAuthorizations" type="tns:getReceivedAuthorizations" />
<xs:element name="getReceivedAuthorizationsResponse" type="tns:getReceivedAuthorizationsResponse" />
<xs:element name="getSentAuthorizations" type="tns:getSentAuthorizations" />
<xs:element name="getSentAuthorizationsResponse" type="tns:getSentAuthorizationsResponse" />
<xs:element name="getTotalReceivedAuthorizations" type="tns:getTotalReceivedAuthorizations" />
<xs:element name="getTotalReceivedAuthorizationsResponse" type="tns:getTotalReceivedAuthorizationsResponse" />
<xs:element name="getTotalSentAuthorizations" type="tns:getTotalSentAuthorizations" />
<xs:element name="getTotalSentAuthorizationsResponse" type="tns:getTotalSentAuthorizationsResponse" />
<xs:element name="revokeOwnAuthorization" type="tns:revokeOwnAuthorization" />
<xs:element name="revokeOwnAuthorizationResponse" type="tns:revokeOwnAuthorizationResponse" />
<xs:complexType name="getTotalSentAuthorizations">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalSentAuthorizationsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSentAuthorizations">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="xs:string" />
<xs:element name="startNum" type="xs:int" />
<xs:element name="maxNum" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSentAuthorizationsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:authorizationShortSummary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="authorizationShortSummary">
<xs:sequence>
<xs:element minOccurs="0" name="authorizationId" type="xs:long" />
<xs:element minOccurs="0" name="receiverUid" type="xs:string" />
<xs:element minOccurs="0" name="receiverUserInfo" type="ns1:user" />
<xs:element minOccurs="0" name="senderUid" type="xs:string" />
<xs:element minOccurs="0" name="senderUserInfo" type="ns1:user" />
<xs:element minOccurs="0" name="status" type="tns:authorizationStatus" />
<xs:element minOccurs="0" name="targetPersonUid" type="xs:string" />
<xs:element minOccurs="0" name="targetPersonUserInfo" type="ns1:user" />
<xs:element minOccurs="0" name="template" type="tns:valtakirjapohja" />
<xs:element minOccurs="0" name="validTill" type="xs:date" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="valtakirjapohja">
<xs:sequence>
<xs:element name="templateId" type="xs:long" />
<xs:element minOccurs="0" name="templateName" type="xs:string" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element name="validTillMandatory" type="xs:boolean" />
<xs:element name="consentsOnly" type="xs:boolean" />
<xs:element name="toSecondGuardianOnly" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="revokeOwnAuthorization">
<xs:sequence>
<xs:element name="authorizationId" type="xs:long" />
<xs:element minOccurs="0" name="user" type="xs:string" />
<xs:element minOccurs="0" name="comment" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="revokeOwnAuthorizationResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getAuthorizationSummaryById">
<xs:sequence>
<xs:element name="authorizationId" type="xs:long" />
<xs:element minOccurs="0" name="user" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAuthorizationSummaryByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:authorizationSummary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="authorizationSummary">
<xs:complexContent>
<xs:extension base="tns:authorizationShortSummary">
<xs:sequence>
<xs:element minOccurs="0" name="createdAt" type="xs:date" />
<xs:element minOccurs="0" name="givenAt" type="xs:date" />
<xs:element minOccurs="0" name="replyTill" type="xs:date" />
<xs:element minOccurs="0" name="type" type="tns:authorizationCreateType" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="getTotalReceivedAuthorizations">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalReceivedAuthorizationsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getReceivedAuthorizations">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="xs:string" />
<xs:element name="startNum" type="xs:int" />
<xs:element name="maxNum" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getReceivedAuthorizationsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:authorizationShortSummary" />
</xs:sequence>
</xs:complexType>
<xs:simpleType name="authorizationStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="Open" />
<xs:enumeration value="Valid" />
<xs:enumeration value="Expired" />
<xs:enumeration value="Revoked" />
<xs:enumeration value="Declined" />
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="authorizationCreateType">
<xs:restriction base="xs:string">
<xs:enumeration value="Electronic" />
<xs:enumeration value="Non_Electronic" />
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema targetNamespace="http://soa.common.koku.arcusys.fi/" version="1.0" xmlns:tns="http://soa.common.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="perform" type="tns:perform" />
<xs:element name="performResponse" type="tns:performResponse" />
<xs:complexType name="user">
<xs:sequence>
<xs:element minOccurs="0" name="displayName" type="xs:string" />
<xs:element minOccurs="0" name="email" type="xs:string" />
<xs:element minOccurs="0" name="firstname" type="xs:string" />
<xs:element minOccurs="0" name="lastname" type="xs:string" />
<xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
<xs:element minOccurs="0" name="uid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="performResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="perform">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getReceivedAuthorizationsResponse">
    <wsdl:part element="tns:getReceivedAuthorizationsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAuthorizationSummaryByIdResponse">
    <wsdl:part element="tns:getAuthorizationSummaryByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="revokeOwnAuthorizationResponse">
    <wsdl:part element="tns:revokeOwnAuthorizationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalReceivedAuthorizationsResponse">
    <wsdl:part element="tns:getTotalReceivedAuthorizationsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalSentAuthorizations">
    <wsdl:part element="tns:getTotalSentAuthorizations" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalSentAuthorizationsResponse">
    <wsdl:part element="tns:getTotalSentAuthorizationsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="revokeOwnAuthorization">
    <wsdl:part element="tns:revokeOwnAuthorization" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReceivedAuthorizations">
    <wsdl:part element="tns:getReceivedAuthorizations" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSentAuthorizations">
    <wsdl:part element="tns:getSentAuthorizations" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSentAuthorizationsResponse">
    <wsdl:part element="tns:getSentAuthorizationsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalReceivedAuthorizations">
    <wsdl:part element="tns:getTotalReceivedAuthorizations" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAuthorizationSummaryById">
    <wsdl:part element="tns:getAuthorizationSummaryById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KokuKunpoValtakirjaService">
    <wsdl:operation name="getTotalSentAuthorizations">
      <wsdl:input message="tns:getTotalSentAuthorizations" name="getTotalSentAuthorizations">
    </wsdl:input>
      <wsdl:output message="tns:getTotalSentAuthorizationsResponse" name="getTotalSentAuthorizationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSentAuthorizations">
      <wsdl:input message="tns:getSentAuthorizations" name="getSentAuthorizations">
    </wsdl:input>
      <wsdl:output message="tns:getSentAuthorizationsResponse" name="getSentAuthorizationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revokeOwnAuthorization">
      <wsdl:input message="tns:revokeOwnAuthorization" name="revokeOwnAuthorization">
    </wsdl:input>
      <wsdl:output message="tns:revokeOwnAuthorizationResponse" name="revokeOwnAuthorizationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthorizationSummaryById">
      <wsdl:input message="tns:getAuthorizationSummaryById" name="getAuthorizationSummaryById">
    </wsdl:input>
      <wsdl:output message="tns:getAuthorizationSummaryByIdResponse" name="getAuthorizationSummaryByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalReceivedAuthorizations">
      <wsdl:input message="tns:getTotalReceivedAuthorizations" name="getTotalReceivedAuthorizations">
    </wsdl:input>
      <wsdl:output message="tns:getTotalReceivedAuthorizationsResponse" name="getTotalReceivedAuthorizationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceivedAuthorizations">
      <wsdl:input message="tns:getReceivedAuthorizations" name="getReceivedAuthorizations">
    </wsdl:input>
      <wsdl:output message="tns:getReceivedAuthorizationsResponse" name="getReceivedAuthorizationsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KokuKunpoValtakirjaServiceSoapBinding" type="tns:KokuKunpoValtakirjaService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTotalSentAuthorizations">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTotalSentAuthorizations">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTotalSentAuthorizationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSentAuthorizations">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSentAuthorizations">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSentAuthorizationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revokeOwnAuthorization">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="revokeOwnAuthorization">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="revokeOwnAuthorizationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthorizationSummaryById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAuthorizationSummaryById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAuthorizationSummaryByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalReceivedAuthorizations">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTotalReceivedAuthorizations">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTotalReceivedAuthorizationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceivedAuthorizations">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getReceivedAuthorizations">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReceivedAuthorizationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KokuKunpoValtakirjaService">
    <wsdl:port binding="tns:KokuKunpoValtakirjaServiceSoapBinding" name="KokuKunpoValtakirjaServicePort">
      <soap:address location="http://kohtikumppanuutta-dev.dmz:8180/arcusys-koku-0.1-SNAPSHOT-tiva-model-0.1-SNAPSHOT/KokuKunpoValtakirjaServiceImpl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>