arcusys-portlet/koku-message-service/src/main/wsdl/KvRequestService.wsdl

<definitions name='KokuRequestService' targetNamespace='http://soa.kv.koku.arcusys.fi/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://soa.kv.koku.arcusys.fi/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://soa.kv.koku.arcusys.fi/' version='1.0' xmlns:tns='http://soa.kv.koku.arcusys.fi/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='getRequestById' type='tns:getRequestById'/>
   <xs:element name='getRequestByIdResponse' type='tns:getRequestByIdResponse'/>
   <xs:element name='getRequests' type='tns:getRequests'/>
   <xs:element name='getRequestsResponse' type='tns:getRequestsResponse'/>
   <xs:element name='getTotalRequests' type='tns:getTotalRequests'/>
   <xs:element name='getTotalRequestsResponse' type='tns:getTotalRequestsResponse'/>
   <xs:complexType name='getRequestById'>
    <xs:sequence>
     <xs:element name='requestId' type='xs:long'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getRequestByIdResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:request'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='request'>
    <xs:complexContent>
     <xs:extension base='tns:requestSummary'>
      <xs:sequence>
       <xs:element minOccurs='0' name='content' type='xs:string'/>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='notResponded' nillable='true' type='xs:string'/>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='questions' nillable='true' type='tns:question'/>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='responses' nillable='true' type='tns:response'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='requestSummary'>
    <xs:sequence>
     <xs:element minOccurs='0' name='creationDate' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='endDate' type='xs:dateTime'/>
     <xs:element name='missedAmout' type='xs:int'/>
     <xs:element name='requestId' type='xs:long'/>
     <xs:element name='respondedAmount' type='xs:int'/>
     <xs:element minOccurs='0' name='sender' type='xs:string'/>
     <xs:element minOccurs='0' name='subject' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='question'>
    <xs:sequence>
     <xs:element minOccurs='0' name='description' type='xs:string'/>
     <xs:element name='number' type='xs:int'/>
     <xs:element minOccurs='0' name='type' type='tns:questionType'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='response'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='answers' nillable='true' type='tns:answer'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='answer'>
    <xs:sequence>
     <xs:element minOccurs='0' name='answer' type='xs:string'/>
     <xs:element minOccurs='0' name='comment' type='xs:string'/>
     <xs:element name='questionNumber' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getRequests'>
    <xs:sequence>
     <xs:element minOccurs='0' name='user' type='xs:string'/>
     <xs:element minOccurs='0' name='requestType' type='tns:requestType'/>
     <xs:element minOccurs='0' name='subQuery' type='xs:string'/>
     <xs:element name='startNum' type='xs:int'/>
     <xs:element name='maxNum' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getRequestsResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:requestSummary'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getTotalRequests'>
    <xs:sequence>
     <xs:element minOccurs='0' name='user' type='xs:string'/>
     <xs:element minOccurs='0' name='requestType' type='tns:requestType'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getTotalRequestsResponse'>
    <xs:sequence>
     <xs:element name='return' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name='questionType'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='YES_NO'/>
     <xs:enumeration value='FREE_TEXT'/>
     <xs:enumeration value='MULTIPLE_CHOICE'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='requestType'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='Valid'/>
     <xs:enumeration value='Outdated'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
 </types>
 <message name='KokuRequestService_getTotalRequestsResponse'>
  <part element='tns:getTotalRequestsResponse' name='getTotalRequestsResponse'></part>
 </message>
 <message name='KokuRequestService_getTotalRequests'>
  <part element='tns:getTotalRequests' name='getTotalRequests'></part>
 </message>
 <message name='KokuRequestService_getRequests'>
  <part element='tns:getRequests' name='getRequests'></part>
 </message>
 <message name='KokuRequestService_getRequestByIdResponse'>
  <part element='tns:getRequestByIdResponse' name='getRequestByIdResponse'></part>
 </message>
 <message name='KokuRequestService_getRequestById'>
  <part element='tns:getRequestById' name='getRequestById'></part>
 </message>
 <message name='KokuRequestService_getRequestsResponse'>
  <part element='tns:getRequestsResponse' name='getRequestsResponse'></part>
 </message>
 <portType name='KokuRequestService'>
  <operation name='getRequestById' parameterOrder='getRequestById'>
   <input message='tns:KokuRequestService_getRequestById'></input>
   <output message='tns:KokuRequestService_getRequestByIdResponse'></output>
  </operation>
  <operation name='getRequests' parameterOrder='getRequests'>
   <input message='tns:KokuRequestService_getRequests'></input>
   <output message='tns:KokuRequestService_getRequestsResponse'></output>
  </operation>
  <operation name='getTotalRequests' parameterOrder='getTotalRequests'>
   <input message='tns:KokuRequestService_getTotalRequests'></input>
   <output message='tns:KokuRequestService_getTotalRequestsResponse'></output>
  </operation>
 </portType>
 <binding name='KokuRequestServiceBinding' type='tns:KokuRequestService'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getRequestById'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getRequests'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getTotalRequests'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='KokuRequestService'>
  <port binding='tns:KokuRequestServiceBinding' name='KokuRequestServicePort'>
   <soap:address location='http://127.0.0.1:8180/arcusys-koku-0.1-SNAPSHOT-kv-model-0.1-SNAPSHOT/KokuRequestServiceImpl'/>
  </port>
 </service>
</definitions>