arcusys-portlet/koku-message-service/src/main/wsdl/TivaCitizenService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="KokuKunpoSuostumusService" targetNamespace="http://soa.tiva.koku.arcusys.fi/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.tiva.koku.arcusys.fi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soa.tiva.koku.arcusys.fi/" version="1.0" xmlns:ns1="http://services.koku.fi/entity/tiva/v1" xmlns:tns="http://soa.tiva.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://services.koku.fi/entity/tiva/v1" />
<xs:element name="getAssignedConsents" type="tns:getAssignedConsents" />
<xs:element name="getAssignedConsentsResponse" type="tns:getAssignedConsentsResponse" />
<xs:element name="getConsentById" type="tns:getConsentById" />
<xs:element name="getConsentByIdResponse" type="tns:getConsentByIdResponse" />
<xs:element name="getOldConsents" type="tns:getOldConsents" />
<xs:element name="getOldConsentsResponse" type="tns:getOldConsentsResponse" />
<xs:element name="getOwnConsents" type="tns:getOwnConsents" />
<xs:element name="getOwnConsentsResponse" type="tns:getOwnConsentsResponse" />
<xs:element name="getTotalAssignedConsents" type="tns:getTotalAssignedConsents" />
<xs:element name="getTotalAssignedConsentsResponse" type="tns:getTotalAssignedConsentsResponse" />
<xs:element name="getTotalOldConsents" type="tns:getTotalOldConsents" />
<xs:element name="getTotalOldConsentsResponse" type="tns:getTotalOldConsentsResponse" />

<xs:element name="getTotalOwnConsents" type="tns:getTotalOwnConsents" />
<xs:element name="getTotalOwnConsentsResponse" type="tns:getTotalOwnConsentsResponse" />
<xs:element name="revokeOwnConsent" type="tns:revokeOwnConsent" />
<xs:element name="revokeOwnConsentResponse" type="tns:revokeOwnConsentResponse" />
<xs:complexType name="getTotalOwnConsents">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalOwnConsentsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAssignedConsents">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="xs:string" />

<xs:element name="startNum" type="xs:int" />
<xs:element name="maxNum" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAssignedConsentsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:consentShortSummary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="consentShortSummary">
<xs:sequence>
<xs:element minOccurs="0" name="anotherPermitterUid" type="xs:string" />
<xs:element minOccurs="0" name="consentId" type="xs:long" />
<xs:element minOccurs="0" name="createType" type="tns:consentCreateType" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="givenToParties" nillable="true" type="ns1:givenTo" />
<xs:element minOccurs="0" name="informationTargetId" type="xs:string" />
<xs:element minOccurs="0" name="metaInfo" type="xs:string" />

<xs:element minOccurs="0" name="replyTill" type="xs:date" />
<xs:element minOccurs="0" name="requestor" type="xs:string" />
<xs:element minOccurs="0" name="targetPersonUid" type="xs:string" />
<xs:element minOccurs="0" name="templateDescription" type="xs:string" />
<xs:element minOccurs="0" name="templateId" type="xs:long" />
<xs:element minOccurs="0" name="templateName" type="xs:string" />
<xs:element minOccurs="0" name="templateTypeId" type="xs:long" />
<xs:element minOccurs="0" name="templateTypeName" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="revokeOwnConsent">
<xs:sequence>
<xs:element name="suostumusId" type="xs:long" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="revokeOwnConsentResponse">

<xs:sequence />
</xs:complexType>
<xs:complexType name="getTotalAssignedConsents">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalAssignedConsentsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getOldConsents">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="xs:string" />
<xs:element name="startNum" type="xs:int" />
<xs:element name="maxNum" type="xs:int" />

</xs:sequence>
</xs:complexType>
<xs:complexType name="getOldConsentsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:consentSummary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="consentSummary">
<xs:complexContent>
<xs:extension base="tns:consentShortSummary">
<xs:sequence>
<xs:element minOccurs="0" name="approvalStatus" type="tns:consentApprovalStatus" />
<xs:element minOccurs="0" name="givenAt" type="xs:date" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="receipients" nillable="true" type="xs:string" />
<xs:element minOccurs="0" name="status" type="tns:consentStatus" />
<xs:element minOccurs="0" name="validTill" type="xs:date" />
</xs:sequence>

</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="getOwnConsents">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="xs:string" />
<xs:element name="startNum" type="xs:int" />
<xs:element name="maxNum" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getOwnConsentsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:consentSummary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalOldConsents">
<xs:sequence>

<xs:element minOccurs="0" name="user" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTotalOldConsentsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getConsentById">
<xs:sequence>
<xs:element name="suostumusId" type="xs:long" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getConsentByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:consentTO" />

</xs:sequence>
</xs:complexType>
<xs:complexType name="consentTO">
<xs:complexContent>
<xs:extension base="tns:consentSummary">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="actionRequests" nillable="true" type="tns:actionRequestSummary" />
<xs:element minOccurs="0" name="comment" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="actionRequestSummary">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="status" type="tns:actionRequestStatus" />

</xs:sequence>
</xs:complexType>
<xs:simpleType name="consentCreateType">
<xs:restriction base="xs:string">
<xs:enumeration value="Electronic" />
<xs:enumeration value="EmailBased" />
<xs:enumeration value="PaperBased" />
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="consentApprovalStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="Approved" />
<xs:enumeration value="Declined" />
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="consentStatus">
<xs:restriction base="xs:string">

<xs:enumeration value="Open" />
<xs:enumeration value="PartiallyGiven" />
<xs:enumeration value="Valid" />
<xs:enumeration value="Expired" />
<xs:enumeration value="Revoked" />
<xs:enumeration value="Declined" />
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="actionRequestStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="Given" />
<xs:enumeration value="Declined" />
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema targetNamespace="http://services.koku.fi/entity/tiva/v1" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="givenTo">

<xs:sequence>
<xs:element name="partyId" type="xs:string" />
<xs:element name="partyName" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getTotalAssignedConsents">
    <wsdl:part element="tns:getTotalAssignedConsents" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalAssignedConsentsResponse">

    <wsdl:part element="tns:getTotalAssignedConsentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="revokeOwnConsentResponse">
    <wsdl:part element="tns:revokeOwnConsentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConsentById">
    <wsdl:part element="tns:getConsentById" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="revokeOwnConsent">
    <wsdl:part element="tns:revokeOwnConsent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalOldConsents">
    <wsdl:part element="tns:getTotalOldConsents" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getConsentByIdResponse">
    <wsdl:part element="tns:getConsentByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalOwnConsentsResponse">
    <wsdl:part element="tns:getTotalOwnConsentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getOldConsentsResponse">
    <wsdl:part element="tns:getOldConsentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTotalOwnConsents">
    <wsdl:part element="tns:getTotalOwnConsents" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssignedConsents">

    <wsdl:part element="tns:getAssignedConsents" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOwnConsentsResponse">
    <wsdl:part element="tns:getOwnConsentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOldConsents">
    <wsdl:part element="tns:getOldConsents" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssignedConsentsResponse">
    <wsdl:part element="tns:getAssignedConsentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOwnConsents">
    <wsdl:part element="tns:getOwnConsents" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getTotalOldConsentsResponse">
    <wsdl:part element="tns:getTotalOldConsentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KokuKunpoSuostumusService">
    <wsdl:operation name="getTotalOwnConsents">
      <wsdl:input message="tns:getTotalOwnConsents" name="getTotalOwnConsents">
    </wsdl:input>

      <wsdl:output message="tns:getTotalOwnConsentsResponse" name="getTotalOwnConsentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssignedConsents">
      <wsdl:input message="tns:getAssignedConsents" name="getAssignedConsents">
    </wsdl:input>
      <wsdl:output message="tns:getAssignedConsentsResponse" name="getAssignedConsentsResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="revokeOwnConsent">
      <wsdl:input message="tns:revokeOwnConsent" name="revokeOwnConsent">
    </wsdl:input>
      <wsdl:output message="tns:revokeOwnConsentResponse" name="revokeOwnConsentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalAssignedConsents">
      <wsdl:input message="tns:getTotalAssignedConsents" name="getTotalAssignedConsents">
    </wsdl:input>

      <wsdl:output message="tns:getTotalAssignedConsentsResponse" name="getTotalAssignedConsentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOldConsents">
      <wsdl:input message="tns:getOldConsents" name="getOldConsents">
    </wsdl:input>
      <wsdl:output message="tns:getOldConsentsResponse" name="getOldConsentsResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getOwnConsents">
      <wsdl:input message="tns:getOwnConsents" name="getOwnConsents">
    </wsdl:input>
      <wsdl:output message="tns:getOwnConsentsResponse" name="getOwnConsentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalOldConsents">
      <wsdl:input message="tns:getTotalOldConsents" name="getTotalOldConsents">
    </wsdl:input>

      <wsdl:output message="tns:getTotalOldConsentsResponse" name="getTotalOldConsentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConsentById">
      <wsdl:input message="tns:getConsentById" name="getConsentById">
    </wsdl:input>
      <wsdl:output message="tns:getConsentByIdResponse" name="getConsentByIdResponse">
    </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="KokuKunpoSuostumusServiceSoapBinding" type="tns:KokuKunpoSuostumusService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTotalOwnConsents">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTotalOwnConsents">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTotalOwnConsentsResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssignedConsents">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAssignedConsents">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAssignedConsentsResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revokeOwnConsent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="revokeOwnConsent">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="revokeOwnConsentResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalAssignedConsents">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTotalAssignedConsents">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTotalAssignedConsentsResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOldConsents">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getOldConsents">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOldConsentsResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOwnConsents">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getOwnConsents">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOwnConsentsResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalOldConsents">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTotalOldConsents">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTotalOldConsentsResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConsentById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getConsentById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getConsentByIdResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KokuKunpoSuostumusService">
    <wsdl:port binding="tns:KokuKunpoSuostumusServiceSoapBinding" name="KokuKunpoSuostumusServicePort">
      <soap:address location="http://kohtikumppanuutta-dev.dmz:8180/arcusys-koku-0.1-SNAPSHOT-tiva-model-0.1-SNAPSHOT/KokuKunpoSuostumusServiceImpl" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>