arcusys-portlet/koku-message-service/src/main/wsdl/UsersAndGroupsServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="UsersAndGroupsService" targetNamespace="http://soa.common.koku.arcusys.fi/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.common.koku.arcusys.fi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soa.common.koku.arcusys.fi/" version="1.0" xmlns:tns="http://soa.common.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getChildInfo" type="tns:getChildInfo" />
<xs:element name="getChildInfoResponse" type="tns:getChildInfoResponse" />
<xs:element name="getKunpoNameByUserUid" type="tns:getKunpoNameByUserUid" />
<xs:element name="getKunpoNameByUserUidResponse" type="tns:getKunpoNameByUserUidResponse" />
<xs:element name="getLooraNameByUserUid" type="tns:getLooraNameByUserUid" />
<xs:element name="getLooraNameByUserUidResponse" type="tns:getLooraNameByUserUidResponse" />
<xs:element name="getSsnByKunpoName" type="tns:getSsnByKunpoName" />
<xs:element name="getSsnByKunpoNameResponse" type="tns:getSsnByKunpoNameResponse" />
<xs:element name="getSsnByLdapName" type="tns:getSsnByLdapName" />
<xs:element name="getSsnByLdapNameResponse" type="tns:getSsnByLdapNameResponse" />
<xs:element name="getSsnByLooraName" type="tns:getSsnByLooraName" />
<xs:element name="getSsnByLooraNameResponse" type="tns:getSsnByLooraNameResponse" />
<xs:element name="getUserInfo" type="tns:getUserInfo" />

<xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse" />
<xs:element name="getUserRoles" type="tns:getUserRoles" />
<xs:element name="getUserRolesResponse" type="tns:getUserRolesResponse" />
<xs:element name="getUserUidByEmployeeSsn" type="tns:getUserUidByEmployeeSsn" />
<xs:element name="getUserUidByEmployeeSsnResponse" type="tns:getUserUidByEmployeeSsnResponse" />
<xs:element name="getUserUidByKunpoName" type="tns:getUserUidByKunpoName" />
<xs:element name="getUserUidByKunpoNameResponse" type="tns:getUserUidByKunpoNameResponse" />
<xs:element name="getUserUidByKunpoSsn" type="tns:getUserUidByKunpoSsn" />
<xs:element name="getUserUidByKunpoSsnResponse" type="tns:getUserUidByKunpoSsnResponse" />
<xs:element name="getUserUidByLooraName" type="tns:getUserUidByLooraName" />
<xs:element name="getUserUidByLooraNameResponse" type="tns:getUserUidByLooraNameResponse" />
<xs:element name="getUsernamesInRole" type="tns:getUsernamesInRole" />
<xs:element name="getUsernamesInRoleResponse" type="tns:getUsernamesInRoleResponse" />
<xs:element name="getUsersByGroupUid" type="tns:getUsersByGroupUid" />
<xs:element name="getUsersByGroupUidResponse" type="tns:getUsersByGroupUidResponse" />
<xs:element name="getUsersChildren" type="tns:getUsersChildren" />
<xs:element name="getUsersChildrenResponse" type="tns:getUsersChildrenResponse" />

<xs:element name="loginByKunpoNameAndSsn" type="tns:loginByKunpoNameAndSsn" />
<xs:element name="loginByKunpoNameAndSsnResponse" type="tns:loginByKunpoNameAndSsnResponse" />
<xs:element name="loginByLooraNameAndSsn" type="tns:loginByLooraNameAndSsn" />
<xs:element name="loginByLooraNameAndSsnResponse" type="tns:loginByLooraNameAndSsnResponse" />
<xs:element name="searchChildren" type="tns:searchChildren" />
<xs:element name="searchChildrenResponse" type="tns:searchChildrenResponse" />
<xs:element name="searchEmployees" type="tns:searchEmployees" />
<xs:element name="searchEmployeesResponse" type="tns:searchEmployeesResponse" />
<xs:element name="searchGroups" type="tns:searchGroups" />
<xs:element name="searchGroupsResponse" type="tns:searchGroupsResponse" />
<xs:element name="searchRoles" type="tns:searchRoles" />
<xs:element name="searchRolesResponse" type="tns:searchRolesResponse" />
<xs:element name="searchUsers" type="tns:searchUsers" />
<xs:element name="searchUsersResponse" type="tns:searchUsersResponse" />
<xs:complexType name="searchUsers">
<xs:sequence>
<xs:element minOccurs="0" name="searchString" type="xs:string" />

<xs:element name="limit" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchUsersResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="tns:user" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="user">
<xs:sequence>
<xs:element minOccurs="0" name="displayName" type="xs:string" />
<xs:element minOccurs="0" name="email" type="xs:string" />
<xs:element minOccurs="0" name="firstname" type="xs:string" />
<xs:element minOccurs="0" name="lastname" type="xs:string" />
<xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
<xs:element minOccurs="0" name="uid" type="xs:string" />
</xs:sequence>

</xs:complexType>
<xs:complexType name="getUsernamesInRole">
<xs:sequence>
<xs:element minOccurs="0" name="roleUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsernamesInRoleResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="username" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserUidByKunpoName">
<xs:sequence>
<xs:element minOccurs="0" name="kunpoUsername" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserUidByKunpoNameResponse">

<xs:sequence>
<xs:element minOccurs="0" name="userUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSsnByLooraName">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSsnByLooraNameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSsnByKunpoName">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />

</xs:sequence>
</xs:complexType>
<xs:complexType name="getSsnByKunpoNameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="loginByKunpoNameAndSsn">
<xs:sequence>
<xs:element minOccurs="0" name="kunpoUsername" type="xs:string" />
<xs:element minOccurs="0" name="ssn" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="loginByKunpoNameAndSsnResponse">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="tns:user" />
</xs:sequence>

</xs:complexType>
<xs:complexType name="getUsersChildren">
<xs:sequence>
<xs:element minOccurs="0" name="userUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsersChildrenResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="child" type="tns:childWithHetu" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="childWithHetu">
<xs:complexContent>
<xs:extension base="tns:child">
<xs:sequence>
<xs:element minOccurs="0" name="hetu" type="xs:string" />
</xs:sequence>

</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="child">
<xs:complexContent>
<xs:extension base="tns:user">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="parents" nillable="true" type="tns:user" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="getSsnByLdapName">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSsnByLdapNameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsersByGroupUid">
<xs:sequence>
<xs:element minOccurs="0" name="groupUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsersByGroupUidResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="tns:user" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="loginByLooraNameAndSsn">
<xs:sequence>

<xs:element minOccurs="0" name="looraUsername" type="xs:string" />
<xs:element minOccurs="0" name="ssn" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="loginByLooraNameAndSsnResponse">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="tns:user" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLooraNameByUserUid">
<xs:sequence>
<xs:element minOccurs="0" name="userUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLooraNameByUserUidResponse">
<xs:sequence>
<xs:element minOccurs="0" name="looraUsername" type="xs:string" />

</xs:sequence>
</xs:complexType>
<xs:complexType name="searchRoles">
<xs:sequence>
<xs:element minOccurs="0" name="searchString" type="xs:string" />
<xs:element name="limit" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchRolesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="role" type="tns:role" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="role">
<xs:sequence>
<xs:element minOccurs="0" name="roleName" type="xs:string" />
<xs:element minOccurs="0" name="roleUid" type="xs:string" />

</xs:sequence>
</xs:complexType>
<xs:complexType name="searchGroups">
<xs:sequence>
<xs:element minOccurs="0" name="searchString" type="xs:string" />
<xs:element name="limit" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchGroupsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="group" type="tns:group" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="group">
<xs:sequence>
<xs:element minOccurs="0" name="groupName" type="xs:string" />
<xs:element minOccurs="0" name="groupUid" type="xs:string" />

</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserInfo">
<xs:sequence>
<xs:element minOccurs="0" name="userUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserInfoResponse">
<xs:sequence>
<xs:element minOccurs="0" name="user" type="tns:user" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserUidByEmployeeSsn">
<xs:sequence>
<xs:element minOccurs="0" name="ssn" type="xs:string" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserUidByEmployeeSsnResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getChildInfo">
<xs:sequence>
<xs:element minOccurs="0" name="childUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getChildInfoResponse">
<xs:sequence>
<xs:element minOccurs="0" name="child" type="tns:child" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getKunpoNameByUserUid">
<xs:sequence>

<xs:element minOccurs="0" name="userUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getKunpoNameByUserUidResponse">
<xs:sequence>
<xs:element minOccurs="0" name="kunpoUsername" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchEmployees">
<xs:sequence>
<xs:element minOccurs="0" name="searchString" type="xs:string" />
<xs:element name="limit" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchEmployeesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="tns:user" />

</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserUidByKunpoSsn">
<xs:sequence>
<xs:element minOccurs="0" name="ssn" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserUidByKunpoSsnResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="searchChildren">
<xs:sequence>
<xs:element minOccurs="0" name="searchString" type="xs:string" />
<xs:element name="limit" type="xs:int" />
</xs:sequence>

</xs:complexType>
<xs:complexType name="searchChildrenResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="child" type="tns:child" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserUidByLooraName">
<xs:sequence>
<xs:element minOccurs="0" name="looraUsername" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserUidByLooraNameResponse">
<xs:sequence>
<xs:element minOccurs="0" name="userUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserRoles">

<xs:sequence>
<xs:element minOccurs="0" name="userUid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUserRolesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="role" type="tns:role" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUserUidByEmployeeSsnResponse">
    <wsdl:part element="tns:getUserUidByEmployeeSsnResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="searchRolesResponse">
    <wsdl:part element="tns:searchRolesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchEmployees">
    <wsdl:part element="tns:searchEmployees" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getKunpoNameByUserUidResponse">
    <wsdl:part element="tns:getKunpoNameByUserUidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersChildrenResponse">
    <wsdl:part element="tns:getUsersChildrenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersChildren">

    <wsdl:part element="tns:getUsersChildren" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserUidByLooraNameResponse">
    <wsdl:part element="tns:getUserUidByLooraNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchUsersResponse">
    <wsdl:part element="tns:searchUsersResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLooraNameByUserUidResponse">
    <wsdl:part element="tns:getLooraNameByUserUidResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserUidByLooraName">
    <wsdl:part element="tns:getUserUidByLooraName" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="searchGroupsResponse">
    <wsdl:part element="tns:searchGroupsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserUidByKunpoName">
    <wsdl:part element="tns:getUserUidByKunpoName" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getUserRoles">
    <wsdl:part element="tns:getUserRoles" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSsnByLooraName">
    <wsdl:part element="tns:getSsnByLooraName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getChildInfoResponse">

    <wsdl:part element="tns:getChildInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchEmployeesResponse">
    <wsdl:part element="tns:searchEmployeesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserUidByKunpoNameResponse">
    <wsdl:part element="tns:getUserUidByKunpoNameResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchGroups">
    <wsdl:part element="tns:searchGroups" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSsnByKunpoNameResponse">
    <wsdl:part element="tns:getSsnByKunpoNameResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getLooraNameByUserUid">
    <wsdl:part element="tns:getLooraNameByUserUid" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserUidByEmployeeSsn">
    <wsdl:part element="tns:getUserUidByEmployeeSsn" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getSsnByLdapNameResponse">
    <wsdl:part element="tns:getSsnByLdapNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginByLooraNameAndSsnResponse">
    <wsdl:part element="tns:loginByLooraNameAndSsnResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersByGroupUid">

    <wsdl:part element="tns:getUsersByGroupUid" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchChildrenResponse">
    <wsdl:part element="tns:searchChildrenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersByGroupUidResponse">
    <wsdl:part element="tns:getUsersByGroupUidResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsernamesInRole">
    <wsdl:part element="tns:getUsernamesInRole" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchUsers">
    <wsdl:part element="tns:searchUsers" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getUserInfo">
    <wsdl:part element="tns:getUserInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserInfoResponse">
    <wsdl:part element="tns:getUserInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getUsernamesInRoleResponse">
    <wsdl:part element="tns:getUsernamesInRoleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserUidByKunpoSsnResponse">
    <wsdl:part element="tns:getUserUidByKunpoSsnResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchChildren">

    <wsdl:part element="tns:searchChildren" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSsnByKunpoName">
    <wsdl:part element="tns:getSsnByKunpoName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginByKunpoNameAndSsnResponse">
    <wsdl:part element="tns:loginByKunpoNameAndSsnResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginByLooraNameAndSsn">
    <wsdl:part element="tns:loginByLooraNameAndSsn" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserUidByKunpoSsn">
    <wsdl:part element="tns:getUserUidByKunpoSsn" name="parameters">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getUserRolesResponse">
    <wsdl:part element="tns:getUserRolesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSsnByLdapName">
    <wsdl:part element="tns:getSsnByLdapName" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getChildInfo">
    <wsdl:part element="tns:getChildInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSsnByLooraNameResponse">
    <wsdl:part element="tns:getSsnByLooraNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginByKunpoNameAndSsn">

    <wsdl:part element="tns:loginByKunpoNameAndSsn" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchRoles">
    <wsdl:part element="tns:searchRoles" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getKunpoNameByUserUid">
    <wsdl:part element="tns:getKunpoNameByUserUid" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UsersAndGroupsService">
    <wsdl:operation name="searchUsers">
      <wsdl:input message="tns:searchUsers" name="searchUsers">
    </wsdl:input>
      <wsdl:output message="tns:searchUsersResponse" name="searchUsersResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getUsernamesInRole">
      <wsdl:input message="tns:getUsernamesInRole" name="getUsernamesInRole">
    </wsdl:input>
      <wsdl:output message="tns:getUsernamesInRoleResponse" name="getUsernamesInRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserUidByKunpoName">
      <wsdl:input message="tns:getUserUidByKunpoName" name="getUserUidByKunpoName">
    </wsdl:input>

      <wsdl:output message="tns:getUserUidByKunpoNameResponse" name="getUserUidByKunpoNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSsnByLooraName">
      <wsdl:input message="tns:getSsnByLooraName" name="getSsnByLooraName">
    </wsdl:input>
      <wsdl:output message="tns:getSsnByLooraNameResponse" name="getSsnByLooraNameResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getSsnByKunpoName">
      <wsdl:input message="tns:getSsnByKunpoName" name="getSsnByKunpoName">
    </wsdl:input>
      <wsdl:output message="tns:getSsnByKunpoNameResponse" name="getSsnByKunpoNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginByKunpoNameAndSsn">
      <wsdl:input message="tns:loginByKunpoNameAndSsn" name="loginByKunpoNameAndSsn">
    </wsdl:input>

      <wsdl:output message="tns:loginByKunpoNameAndSsnResponse" name="loginByKunpoNameAndSsnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersChildren">
      <wsdl:input message="tns:getUsersChildren" name="getUsersChildren">
    </wsdl:input>
      <wsdl:output message="tns:getUsersChildrenResponse" name="getUsersChildrenResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getSsnByLdapName">
      <wsdl:input message="tns:getSsnByLdapName" name="getSsnByLdapName">
    </wsdl:input>
      <wsdl:output message="tns:getSsnByLdapNameResponse" name="getSsnByLdapNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByGroupUid">
      <wsdl:input message="tns:getUsersByGroupUid" name="getUsersByGroupUid">
    </wsdl:input>

      <wsdl:output message="tns:getUsersByGroupUidResponse" name="getUsersByGroupUidResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginByLooraNameAndSsn">
      <wsdl:input message="tns:loginByLooraNameAndSsn" name="loginByLooraNameAndSsn">
    </wsdl:input>
      <wsdl:output message="tns:loginByLooraNameAndSsnResponse" name="loginByLooraNameAndSsnResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getLooraNameByUserUid">
      <wsdl:input message="tns:getLooraNameByUserUid" name="getLooraNameByUserUid">
    </wsdl:input>
      <wsdl:output message="tns:getLooraNameByUserUidResponse" name="getLooraNameByUserUidResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchRoles">
      <wsdl:input message="tns:searchRoles" name="searchRoles">
    </wsdl:input>

      <wsdl:output message="tns:searchRolesResponse" name="searchRolesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchGroups">
      <wsdl:input message="tns:searchGroups" name="searchGroups">
    </wsdl:input>
      <wsdl:output message="tns:searchGroupsResponse" name="searchGroupsResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getUserInfo">
      <wsdl:input message="tns:getUserInfo" name="getUserInfo">
    </wsdl:input>
      <wsdl:output message="tns:getUserInfoResponse" name="getUserInfoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserUidByEmployeeSsn">
      <wsdl:input message="tns:getUserUidByEmployeeSsn" name="getUserUidByEmployeeSsn">
    </wsdl:input>

      <wsdl:output message="tns:getUserUidByEmployeeSsnResponse" name="getUserUidByEmployeeSsnResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChildInfo">
      <wsdl:input message="tns:getChildInfo" name="getChildInfo">
    </wsdl:input>
      <wsdl:output message="tns:getChildInfoResponse" name="getChildInfoResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getKunpoNameByUserUid">
      <wsdl:input message="tns:getKunpoNameByUserUid" name="getKunpoNameByUserUid">
    </wsdl:input>
      <wsdl:output message="tns:getKunpoNameByUserUidResponse" name="getKunpoNameByUserUidResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchEmployees">
      <wsdl:input message="tns:searchEmployees" name="searchEmployees">
    </wsdl:input>

      <wsdl:output message="tns:searchEmployeesResponse" name="searchEmployeesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserUidByKunpoSsn">
      <wsdl:input message="tns:getUserUidByKunpoSsn" name="getUserUidByKunpoSsn">
    </wsdl:input>
      <wsdl:output message="tns:getUserUidByKunpoSsnResponse" name="getUserUidByKunpoSsnResponse">
    </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="searchChildren">
      <wsdl:input message="tns:searchChildren" name="searchChildren">
    </wsdl:input>
      <wsdl:output message="tns:searchChildrenResponse" name="searchChildrenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserUidByLooraName">
      <wsdl:input message="tns:getUserUidByLooraName" name="getUserUidByLooraName">
    </wsdl:input>

      <wsdl:output message="tns:getUserUidByLooraNameResponse" name="getUserUidByLooraNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserRoles">
      <wsdl:input message="tns:getUserRoles" name="getUserRoles">
    </wsdl:input>
      <wsdl:output message="tns:getUserRolesResponse" name="getUserRolesResponse">
    </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="UsersAndGroupsServiceSoapBinding" type="tns:UsersAndGroupsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUsernamesInRole">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsernamesInRole">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsernamesInRoleResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUsers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchUsersResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSsnByLooraName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSsnByLooraName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSsnByLooraNameResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserUidByKunpoName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserUidByKunpoName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserUidByKunpoNameResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSsnByKunpoName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSsnByKunpoName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSsnByKunpoNameResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginByKunpoNameAndSsn">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="loginByKunpoNameAndSsn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginByKunpoNameAndSsnResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersChildren">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsersChildren">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsersChildrenResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSsnByLdapName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSsnByLdapName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSsnByLdapNameResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByGroupUid">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsersByGroupUid">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsersByGroupUidResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginByLooraNameAndSsn">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="loginByLooraNameAndSsn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginByLooraNameAndSsnResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLooraNameByUserUid">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getLooraNameByUserUid">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLooraNameByUserUidResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchGroups">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchGroups">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchGroupsResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchRoles">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchRoles">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchRolesResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserInfoResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserUidByEmployeeSsn">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserUidByEmployeeSsn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserUidByEmployeeSsnResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChildInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getChildInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getChildInfoResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKunpoNameByUserUid">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getKunpoNameByUserUid">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getKunpoNameByUserUidResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchEmployees">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchEmployees">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchEmployeesResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserUidByKunpoSsn">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserUidByKunpoSsn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserUidByKunpoSsnResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchChildren">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchChildren">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchChildrenResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserUidByLooraName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserUidByLooraName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserUidByLooraNameResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserRoles">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserRoles">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserRolesResponse">

        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersAndGroupsService">
    <wsdl:port binding="tns:UsersAndGroupsServiceSoapBinding" name="UsersAndGroupsServicePort">
      <soap:address location="http://kohtikumppanuutta-dev.dmz:8180/arcusys-koku-0.1-SNAPSHOT-arcusys-common-0.1-SNAPSHOT/UsersAndGroupsServiceImpl" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>